@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Exo+2&display=swap');

:root {
    --primary-color: #015356;
    --secondary-color: #71a9f7;
    --accent1-color: #F0F5EF;
    --accent2-color: #fdfffc;
    --heading-font: 'montserrat', sans-serif;
    --paragraph-font: 'montserrat', sans-serif;
    --nav-background-color: #71a9f7;
    --nav-link-color: #0f7173;
    --nav-hover-link-color: #d4f2d2;
  }
  * {
    padding: 0;
    margin: 0 auto

 }
 
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center ;
  }

  p {
    padding: 15px;
  }
    
nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    width: auto;
    min-width: fit-content;
  }

header {
  margin: 1rem auto;
	display: grid;
	grid-template-columns: 350px 1fr 4fr;
	align-items: center;
  justify-content: space-around;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
  padding-left: 70px;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.history {
  display: block;
}

.history img {
  width: 200px;
  height: auto;
  float: left;
  padding: 20px;
}

.adventure figure {
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  transition: 3s ease-in-out;
}

.adventure figure:hover {
  overflow:visible;
  cursor: pointer;
  transform: scale(1.5);
  transition: 1s ease-in-out;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin:0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  /* height: 500px; */
  width: 20%;
}

@keyframes slider {
  0% {left:0;}
  20% {left:0;}
  25% {left:-100%;}
  45% {left:-100%;}
  50% {left:-200%;}
  70% {left:-200%;}
  75% {left:-300%;}
  90% {left:-300%;}
  100% {left:-400%;}
}

.pop{
  display: block;
  background-color:var(--nav-hover-link-color);
  margin-bottom: auto;
  clear: both;
}

.table {
  margin-top: 1rem;
}

.callout{
  display: block;
  background-color:#71a9f786;
 color:#033638;
}

.adventure {
  clear: both;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 80%;
  justify-content: space-around;
  width: fit-content;
  height: fit-content;
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 1rem;
  margin: 0 auto;

}

.gridhead {
  grid-column-start: 1;
  grid-column-end: 6;
 
}

.fig1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  }
.fig2 {
  grid-column-start: 2;
  grid-column-end: 3;}
.fig3 {
  grid-column-start: 3;
  grid-column-end: 4;}
.fig4 {
  grid-column-start: 4;
  grid-column-end: 5;}
.fig5 {
  grid-column-start: 5;
  grid-column-end: 6;}
.adventure img{
  width: 190px;
}

div {
    position: relative;
}

div h1 {
    background-color: var(--accent1-color);
    opacity: 0.8;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px white, 1px 0 black, 0 -1px black;
  }

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
aside img {
  width: 100%;
}

div article {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: var(--accent1-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
  }

.insert img {
    padding-top: 3rem;
    width: 150px;
    height: auto;
    float: right;
}
.insert p {
  padding-top: 3rem;
  position: relative;
}

footer {
  display: flex;
  background-color: #efefef;
  margin-top: 50px;
  width: 1000px;
}
footer a {
  justify-content: flex-end;
}


form {
  width: auto;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14% ;
  align-items: center;
}
.heading {
display: flex;
}


fieldset {
  display: grid;
  margin: 1rem;
  border: 1px solid rgba(2, 44, 5, 0.2);
  padding: 1rem;
  max-height: 100%;
}

legend {
  padding: 0.5rem;
  color: rgba(2, 44, 5);
  font-size: 1.3em;
}
label, input, button, select, textarea {
  font-family:var(--heading-font);
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  margin: 10px;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: rgba(2, 44, 5);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(0, 100, 17);
}

.form-item {
  display: grid;
  align-items: center;
}

.column2 {
  grid-row-start: 2;
  grid-row-end: 3;  
}

.column1 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 8;
  align-self: start;
}
.f1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.f2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.f3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.f4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.f5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  height:fit-content;
}
.f6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.f7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}