@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Exo+2&display=swap');

:root {
    --primary-color: #015356;
    --secondary-color: #71a9f7;
    --accent1-color: #F0F5EF;
    --accent2-color: #fdfffc;
    --heading-font: 'montserrat', sans-serif;
    --paragraph-font: 'montserrat', sans-serif;
    --nav-background-color: #71a9f7;
    --nav-link-color: #0f7173;
    --nav-hover-link-color: #d4f2d2;
    --nav-hover-background-color: #fdfffc;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center ;
  }

  p {
    padding: 15px;
  }
    
nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    width: auto;
    min-width: fit-content;
  }

header {
  margin: 1rem auto;
	display: grid;
	grid-template-columns: 350px 1fr 4fr;
	align-items: center;
  justify-content: space-around;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
  padding-left: 70px;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
  }

.history {
  display: block;
}

.history img {
  width: 200px;
  height: auto;
  float: left;
  padding: 20px;
}

.adventure {
  display: flex;
}

.adventure img{
  width: 200px;
}

div {
    position: relative;
}

div h1 {
    background-color: var(--accent1-color);
    opacity: 0.8;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px white, 1px 0 black, 0 -1px black;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  

div article {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: var(--accent1-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
  }

.insert img {
    width: 150px;
    height: auto;
    float: right;
}

