* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
  }

h1 {
    color: steelblue;
  }


  main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 28px;
  left: 100px;
}

aside img {
  width: 200px;
  height: auto;
}

p {
    padding: 10px;/*ive made the padding here to be 10 from 0 becase the img shadow was too close to the text*/
  }
  
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */;
  padding: 1rem;
  background-color: #8cc0ee;
  color: #000;
}